<ion-content [forceOverscroll]="false">
  <section class="adicionar-pagamento">
    <h1 class="form-title">Editar pagamento</h1>

    <div class="form-content">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item
            lines="none">
              <ion-input
              [value]="payment.nome"
              class="form-input"
              mode="ios"
              placeholder="Título*">
                
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item
            lines="none">
              <ion-input
              [value]="payment.valor"
              class="form-input"
              mode="ios"
              placeholder="Valor*">
                
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item
            lines="none">
              <ion-input
              [value]="payment.data"
              class="form-input"
              mode="ios"
              placeholder="Data*">
                
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item
            lines="none">
              <ion-input
              [value]="payment.titulo"
              class="form-input"
              mode="ios"
              placeholder="Título*">
                
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="form-buttons">
      <ion-button
      (click)="closeModal()"
      fill="solid"
      mode="md"
      class="form-btn gray cancelar">
        Cancelar
      </ion-button>

      <ion-button
      fill="solid"
      mode="md"
      class="form-btn salvar">
        Salvar
      </ion-button>
    </div>
  </section>
</ion-content>
