@import './../../../../../theme/scss/mixins.scss';

ion-content {
  section.adicionar-pagamento {
    padding: 40px 38px;
    @include flexbox(flex-start, flex-start, column);
    height: 100%;

    .form-content {
      @include flexbox(flex-start, center, column);
      width: 100%;
      flex: 1;

      ion-text.user-info-text {
        p {
          color: var(--black);
          font-size: 16px;
          line-height: 24px;
          font-family: var(--roboto-font);
        }
      }
    }

    .form-buttons {
      @include flexbox(center, flex-end, row);
      width: 100%;

      ion-button {
        width: 150px;
        margin: 0;

        &.cancelar {

        }

        &.salvar {
          margin: 0 0 0 29px;
        }
      }
    }
  }
}