<ion-content [forceOverscroll]="false">
  <section class="adicionar-pagamento">
    <h1 class="form-title">Excluir pagamento</h1>

    <div class="form-content">
      <ion-text class="user-info-text">
        <p>Usuário: Klerber Freitas</p>
        <p>Data: 23/06/2020</p>
        <p>Valor: R$ 100,00</p>
      </ion-text>
    </div>

    <div class="form-buttons">
      <ion-button
      class="form-btn gray cancelar">
        Cancelar
      </ion-button>

      <ion-button
      class="form-btn salvar">
        Salvar
      </ion-button>
    </div>
  </section>
</ion-content>
