<ion-content [forceOverscroll]="false">
  <section class="adicionar-pagamento">
    <h1 class="form-title">Excluir pagamento</h1>

    <div class="form-content">
      <ion-text class="user-info-text">
        <p>Usuário: {{ payment.nome }}</p>
        <p>Data: {{ payment.data }}</p>
        <p>Valor: {{ payment.valor }}</p>
      </ion-text>
    </div>

    <div class="form-buttons">
      <ion-button
      (click)="closeModal()"
      fill="solid"
      mode="md"
      class="form-btn gray cancelar">
        Cancelar
      </ion-button>

      <ion-button
      fill="solid"
      mode="md"
      class="form-btn salvar">
        Salvar
      </ion-button>
    </div>
  </section>
</ion-content>
