/* IONIC */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* SOBREPONDO ION COMPONENTS */
@import './../src/theme/scss/ion-components/ion-buttons.scss';
@import './../src/theme/scss/ion-components/ion-inputs.scss';
@import './../src/theme/scss/ion-components/ion-checkbox.scss';
@import './../src/theme/scss/ion-components/ion-modal.scss';


/* UTILS */
@import './../src/theme/scss/mixins.scss';


/* PAYFRIENDS RESET */
* { font-family: var(--montserrat-font, inherit); }

*::selection {
  background-color: var(--blue);
  color: var(--white);
}

p { margin: 0; }
ion-app > ion-router-outlet {min-width: 320px; }

/* HEADERS (h1, h2, h3...) */
.main-header {
  font-weight: 600;
  color: var(--gray-text-dark);
}

/* TEXTS */
.primary-text,
.secondary-text,
.header-text {
  font-family: var(--lato-font);
}

.primary-text,
.header-text {
  color: var(--gray-text);
  line-height: 16.8px;
}

.primary-text { 
  font-size: 14px;
}

.secondary-text {
  color: var(--gray-text-secondary);
  line-height: 20px;
  font-size: 12px;
}

.header-text {
  font-size: 14px;
  font-weight: 700;
  @include flexbox(center, flex-start, row);

  &::after {
    content: url('./assets/icon/orderby.svg');
    margin-left: 10.25px;
  }
}

.form-title {
  font-size: 18px;
  font-weight: 700;
  font-weight: bold;
  color: var(--gray-form-title);
  margin: 0;
}

.content-ios {
  pointer-events: auto !important;    // to fix scroll lock on ios
}

/* TO SHOW AND HIDE ELEMENTS */
.hidden-mobile {
  @media only screen and (max-width: 991px) {
    display: none;
  }
}

.hidden-desk {
  @media only screen and (min-width: 992px) {
    display: none;
  }
}

/* TABLE ORDER */
.can-order {
  &:hover {
    cursor: pointer;

    p::after {
      opacity: .5;
    }
  }
}