:root {
  --white: #fff;
  --light-gray: #F2F2F2;
  --blue: #007DFE;
  --dark-blue: #002D69;
  --gray-text: #2D3540;
  --gray-text-secondary: #69788C;
  --gray-text-dark: #333333;
  --gray-zebra-striping: #F5F8FA;
  --gray-button: #E6ECF0;
  --gray-form-title: #373737;
  --gray-input-border:  #DADADA;
  --montserrat-font: 'Montserrat', sans-serif;
  --lato-font: 'Lato', sans-serif;
  --input-border: #CFDCE5;
  --roboto-font: 'Roboto', sans-serif;
  --black: #000;
}
