

<ion-content>
  <ion-header
  mode="md"
  class="ion-no-border">
    <ion-toolbar>
      <div class="payfriends-toolbar">
        <payfriends-logo
        slot="start"
        [theme]="'white'">
        </payfriends-logo>
    
        <ion-avatar slot="end">
          <img 
            src="./../../../assets/illustrations/ellipse-2.png"
            alt="Picture"
            title="Person name"
          />
        </ion-avatar>
      </div>
    </ion-toolbar>
  </ion-header>

  <section class="payfriends-meus-pagamentos">
    <h1 class="main-header">Meus pagamentos</h1>

    <div class="payments-wrapper">
      <ion-button
       (click)="adicionarPagamento()"
        fill="solid"
        shape="round"
        class="form-btn"
        expand="full"
        mode="md">
        Adicionar pagamento
      </ion-button>

      <div class="payments-table">
        <div class="payments-filter">
          <div class="filter-by-user">
            <ion-item
            mode="md"
            class="borded-item"
            lines="none">
              <ion-input
              mode="md"
              type="text"
              inputmode="text"
              class="search-input"
              placeholder="Pesquisar por usuário">
              </ion-input>
            </ion-item>

            <ion-button
            fill="solid"
            class="filter-btn"
            mode="md">
              <img
              src="./../../../assets/icon/filter.svg"
              [alt]="'Filter'"
              [title]="'Clique para filtrar'">
                Filtrar
            </ion-button>
          </div>

          <div class="filter-visualization">
            <div class="filter-itens-length">
              <ion-text>
                <p>Exibir</p>
              </ion-text>

              <select name="" id="" value="5">
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>

            <div class="filter-pagination">
              <!-- NUMBERS -->
            </div>
          </div>
        </div>

        <div class="payments-header">
          <ion-grid>
            <ion-row>
              <ion-col size-lg="2">
                <div class="payment-info">
                  <ion-text>
                    <p class="header-text">Usuário</p>
                  </ion-text>
                </div>
              </ion-col>

              <ion-col size="2">
                <div class="payment-info">
                  <ion-text>
                    <p class="header-text">Título</p>
                  </ion-text>
                </div>
              </ion-col>

              <ion-col size="2">
                <div class="payment-info">
                  <ion-text>
                    <p class="header-text">Data</p>
                  </ion-text>
                </div>
              </ion-col>

              <ion-col size="2">
                <div class="payment-info">
                  <ion-text>
                    <p class="header-text">Valor</p>
                  </ion-text>
                </div>
              </ion-col>

              <ion-col size="2">
                <div class="payment-info">
                  <ion-text>
                    <p class="header-text">Pago</p>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="payments-content">
          <div class="payment" *ngFor="let payment of payments">
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-lg="2">
                  <div class="payment-info">
                    <ion-text>
                      <p class="primary-text">{{ payment.nome }}</p>
                      <p class="secondary-text">{{ payment.user }}</p>
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" size-lg="2">
                  <div class="payment-info">
                    <ion-text>
                      <p class="primary-text">{{ payment.titulo }}</p>
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" size-lg="2">
                  <div class="payment-info">
                    <ion-text>
                      <p class="primary-text">{{ payment.data }}</p>
                      <p class="secondary-text">{{ payment.hora }}</p>
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" size-lg="2">
                  <div class="payment-info">
                    <ion-text>
                      <p class="primary-text">{{ payment.valor }}</p>
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="1">
                  <div class="payment-info hasPaid">
                    <ion-text>
                      <p class="primary-text">
                        <span>{{ payment.pago ? 'Pago' : 'Não pago' }}</span> <ion-checkbox [(ngModel)]="payment.pago"></ion-checkbox>
                      </p>
                    </ion-text>
                  </div>
                </ion-col>


                <!-- BOTÕES DESK E MOBILE-->
                <ion-col class="hidden-mobile">
                  <div class="payment-info only-icons">
                    <ion-button
                    (click)="editarPagamento()"
                    class="edit-btn"
                    title="Clique para editar"
                    fill="clear"
                    mode="ios">
                      <img src="./../../../assets/icon/edit.png" alt="Editar" title="Clique para editar">
                    </ion-button>

                    <ion-button
                    (click)="excluirPagamento()"
                    class="remove-btn"
                    title="Clique para excluir"
                    fill="clear"
                    mode="ios">
                      <img src="./../../../assets/icon/close.png" alt="Remover" title="Clique para excluir">
                    </ion-button>
                  </div>
                </ion-col>

                <ion-col size="12" class="hidden-desk">
                  <div class="payment-info only-btns">
                    <ion-button
                    (click)="editarPagamento()"
                    class="form-btn gray"
                    title="Clique para editar"
                    fill="solid"
                    mode="ios">
                      Editar
                    </ion-button>

                    <ion-button
                    (click)="excluirPagamento()"
                    class="form-btn"
                    title="Clique para excluir"
                    fill="solid"
                    mode="ios">
                      Excluir
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
